// COLOR VARIABLES
$crl-blue-dark: hsl(233, 26%, 24%);
$crl-bright: hsl(192, 70%, 51%);
$crl-green: hsl(136, 65%, 51%);

$crl-blue-light-1: hsl(233, 8%, 62%);
$crl-blue-light-2: hsl(220, 16%, 96%);

$crl-grey-light-1: hsl(0, 0%, 98%);
$crl-grey-light-2: hsl(0, 0%, 100%);

// FONT VARIABLES
$font-primary: 'Public Sans', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f4f5f7;
}

.container {
  max-width: 144rem;
  margin: 8rem auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;

  display: grid;
  grid-template-rows: 8rem 65.5rem repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(5rem, 1fr)
    [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14.25rem) [col-end]
    )
    [center-end]
    minmax(5rem, 1fr)
    [full-end];
}
.btn {
  border: none;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, $crl-green, $crl-bright);
  padding: 1.5rem 3rem;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-image: linear-gradient(
      to right,
      rgba($crl-green, 0.8),
      rgba($crl-bright, 0.8)
    );
  }
}
