.features {
  background-color: $crl-blue-light-2;

  grid-column: center-start / center-end;
  margin: 0 -15rem;
  padding: 10rem 15rem;

  &__header {
    display: grid;
    grid-template-columns: minmax(min-content, 64rem);
    grid-row-gap: 1rem;
  }

  &__text {
    color: #949597;
    font-size: 2rem;
  }

  &__content {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 26rem));
    grid-column-gap: 3rem;
    align-items: flex-start;
  }

  &__box {
    display: grid;
    grid-template-rows: repeat(3, min-context);
    grid-row-gap: 3rem;
    align-items: end;
  }

  &__heading {
    color: #414254;
    font-size: 2.5rem;
    font-weight: 400;
  }

  &__desc {
    color: #949597;
    font-size: 1.6rem;
  }
}
