.header {
  background-color: $crl-grey-light-1;

  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, 47rem) minmax(min-content, 75rem);

  position: relative;
  padding-left: 15rem;

  @media screen and(max-width:1200px) {
    padding-left: 5rem;
  }
  @media screen and(max-width: 920px) {
    background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.6)),
      url(/img/image-mockups.png);
    background-size: cover;
    background-position: bottom;
  }

  &__content {
    align-self: center;
    margin-top: -3rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 3rem;
  }

  &__title {
    font-size: 5.5rem;
    line-height: 1.1;
    color: #2c2c46;
    font-weight: 400;
    @media screen and(max-width: 920px) {
      color: #fff;
      font-size: 4.5rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: #949597;
    font-weight: 400;
    @media screen and(max-width: 920px) {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  &__photo {
    margin-left: 2rem;
    @media screen and(max-width:699px) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__intro {
    max-width: 100%;
    position: absolute;
    top: -40%;
    left: 43%;

    @media screen and(max-width:699px) {
      top: -20%;
    }
  }

  &__mockups {
    max-width: 100%;
    z-index: 95;
    position: relative;
    position: absolute;
    top: -20%;
    left: 55.5%;
    @media screen and(max-width: 920px) {
      display: none;
    }
  }

  &__btn {
    justify-self: start;
    padding: 1.5rem 4rem;
  }
}
