.nav {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
  background-color: #ffffff;
  z-index: 99;

  &__list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $crl-blue-light-1;
    transition: all 0.2s;

    &:hover {
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(
        to right,
        rgba($crl-green, 1),
        rgba($crl-bright, 1)
      ); /* gradient with required colors */
      border-image-slice: 1;
      padding-bottom: 2.5rem;
      color: #0c0d11;
    }
  }
}
