.nav {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
  background-color: #ffffff;
  z-index: 99;

  &__list {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    transition: all 1s;

    @media screen and(max-width: 760px) {
      background-color: #fff;
      width: 100%;
      height: 50vh;
      transform: translateY(70%) translateX(-100rem);
      border-radius: 5px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
      @media screen and(max-width: 761px) {
        margin-right: 0;
      }
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $crl-blue-light-1;
    transition: all 0.2s;

    &:hover {
      border-bottom: 4px solid transparent;
      border-image: linear-gradient(
        to right,
        rgba($crl-green, 1),
        rgba($crl-bright, 1)
      ); /* gradient with required colors */
      border-image-slice: 1;
      padding-bottom: 2.5rem;
      color: #0c0d11;
    }

    @media screen and(max-width: 761px) {
      font-size: 2rem;

      &:hover {
        padding-bottom: 1rem;
      }
    }
  }

  &__btn {
    @media screen and(max-width: 760px) {
      display: none;
    }
  }

  &__toggle {
    cursor: pointer;

    @media screen and(min-width: 761px) {
      display: none;
    }
  }

  label {
    display: none;
    @media screen and(max-width: 761px) {
      display: block;
    }
  }
}

#toggle {
  display: none;
}

#toggle:checked ~ ul {
  @media screen and(max-width: 761px) {
    transform: translateY(70%) translateX(-5rem);
  }
}
